@model Ticket
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1>Edit</h1>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="TicketNumber">TicketNumber</label>
            <input type="text" asp-for="TicketNumber" class="form-control">
            <span class="text-danger" asp-validation-for="TicketNumber"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>

        <div class="form-group">
            <label asp-for="TrainNumber">TrainNumber</label>
            <input asp-for="TrainNumber" class="form-control"></input>
            <span class="text-danger" asp-validation-for="TrainNumber"></span>
        </div>

        <div class="form-group">
            <label asp-for="DepartureTime">DepartureTime</label>
            <input asp-for="DepartureTime" class="form-control" />
            <span class="text-danger" asp-validation-for="DepartureTime"></span>
        </div>

        <div class="form-group">
            <label asp-for="ArrivingTime">Experience</label>
            <input asp-for="ArrivingTime" class="form-control" />
            <span class="text-danger" asp-validation-for="ArrivingTime"></span>
        </div>

        <div class="form-group">
            <label asp-for="From">From</label>
            <input asp-for="From" class="form-control" />
            <span class="text-danger" asp-validation-for="From"></span>
        </div>

        <div class="form-group">
            <label asp-for="To">To</label>
            <input asp-for="To" class="form-control" />
            <span class="text-danger" asp-validation-for="To"></span>
        </div>
        <div style="margin-bottom:20px;">
            <label asp-for="IsDeleted">IsDeleted</label>
            <input style="width:30%" asp-for="IsDeleted" class="form-control" />
            <span class="text-danger" asp-validation-for="IsDeleted"></span>
        </div>

          <div class="form-group">
            @if (Model.ImageName != null)
            {
                <div class="img-box d-inline-block" style="position:relative">
                    <img src="~/assets/photos/@Model.ImageName" alt="Alternate Text" style="width:250px" />
                </div>

            }
            <input asp-for="ImageFile" value="" />
            <span class="text-danger" asp-validation-for="ImageFile"></span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


